body {
    background: #fffae6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fffae6, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fffae6, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fffae6, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fffae6, white); /* Standard syntax */
}

.title {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 40px
}
.title a:link { text-decoration: none; color: black;}
.title a:visited { text-decoration: none; color: black;}
.title a:active { text-decoration: none; color: black;}

.subtitle {
	text-align: center;
	color: black;
}

.disc {
	text-align: center;
}

#titles {
	padding: 10px;
	margin-right: 40px;
}
#logos {
	margin-left: 20px;
}